<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558260557370-ujujurcqskc87lpkk5nu6kcsnqqvgeip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558260557370-ujujurcqskc87lpkk5nu6kcsnqqvgeip</string>
	<key>API_KEY</key>
	<string>AIzaSyCMQhVPzdQqHjcVPPHcBPIrtiDv3RYZVjo</string>
	<key>GCM_SENDER_ID</key>
	<string>558260557370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victorrik.vfirebasepractice</string>
	<key>PROJECT_ID</key>
	<string>firevpractices</string>
	<key>STORAGE_BUCKET</key>
	<string>firevpractices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558260557370:ios:f37736257d61459a618703</string>
</dict>
</plist>